@import "tailwindcss";

/* Tus componentes personalizados ahora van después de la importación */
@layer components {
  .btn-principal {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition duration-200;
  }
}
html,
body,
#root{
    margin:0;
    padding:0;
    width:100%;
    min-height:100%;
}

*{
    box-sizing:border-box;
}
